@{
    ViewData["Title"] = "Strona główna";
}
@model WebApplicationProduct.Models.Product

@Html.ActionLink("Dodaj produkt", "AddForm")
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Produkty</h1>
</div>

@for (int i = 0; i < ViewBag.Products.Count; i++)
{
    <tr>
        <td>
            <span>Id: @ViewBag.Products[i].Id </span>
            <span>Nazwa: @ViewBag.Products[i].Name </span>
            <span>Cena: @ViewBag.Products[i].Price </span>
            @Html.ActionLink("Usuń", "DeleteProduct", "Product", new { id = ViewBag.Products[i].Id })
            @Html.ActionLink("Edytuj", "EditProduct", "Product", new { id = ViewBag.Products[i].Id })

            <br />
        </td>
    </tr>
}


<br />


